@model BioMad_backend.Entities.Unit

@{
    ViewData["Title"] = "Удалить";
}
<h3>Вы уверены что хотите удалить эту запись?</h3>
<div class="my-3">
    <div class="col-md-5 p-0">
        <div class="card">
            <div class="card-header text-primary font-weight-bold">
                Единица измерения
            </div>
            <div class="card-body">
                <h6>ID - @Model.Id</h6>
                <h6>Название - @Model.Localize(Culture.Ru)?.Content?.Name</h6>
            </div>
        </div>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <input type="submit" value="Удалить" class="btn btn-danger"/>
    <a class="btn btn-outline-primary mx-2" asp-action="Edit" asp-route-id="@Model.Id">Назад</a>
    <a class="btn btn-outline-info" asp-action="Index">К списку</a>
</form>