@model Gender
@inject ApplicationContext DbContext;

@{
    ViewData["Title"] = "Подробнее";
}

<div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
    <div class="d-flex align-items-center">
        <a class="btn text-primary" asp-action="Index" style="font-size: 20px">❮</a>
        <h4 class="m-0 ml-2">Пол</h4>
    </div>
    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
</div>

<hr/>
<div class="my-grid my-grid-entity-card">
    <div class="card">
        <div class="card-header p-3">Редактировать</div>
        <div class="card-body">
            <form asp-action="Edit">
                <input hidden asp-for="Id">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Ключ</span>
                    </div>
                    <input required asp-for="Key" type="text" class="form-control" placeholder="Например male для мужского пола" aria-label="Ключ">
                    <span asp-validation-for="Key"></span>
                    <p class="text m-0 mt-2" style="font-size: 14px">* слово маленькими буквами на английском языке однозначно описывающее пол</p>
                </div>

                <input class="btn btn-primary" value="Сохранить" type="submit">
            </form>
        </div>
    </div>
    <div class="card">
        @Html.LocalizationSection(x => x.Content, DbContext, Model, selectedCultureId: (int) ViewBag.CultureId, selectedTranslationId: (int) ViewBag.TranslationId)

        @{
            var translationAction = (string) ViewData["translationAction"];
            if (translationAction != null)
            {
                var translationEntity = translationAction == FormActionType.Edit
                    ? Model.Translations.FirstOrDefault(x => x.Id == ViewBag.TranslationId)
                    : new GenderTranslation();
                @await Html.PartialAsync("_TranslationForm", translationEntity)
            }
        }
    </div>
</div>