:root {
    --color-dark: #454852;
    --color-primary: #1554F6;
    --color-accent: #FF1D53;
    --indent-1: 6px;
    --indent-2: 12px;
    --indent-3: 20px;
    --indent-4: 40px;
}

* {
    font-family: 'Inter', sans-serif !important;
}

*:not(a):not(input):not(button) {
    color: var(--color-dark) !important;
}

button > a, button > a:hover {
    text-decoration: none;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: var(--color-primary);
}

.btn-outline-dark > a {
    color: var(--color-dark);
}

.btn-outline-dark:hover > a {
    color: white;
}

.btn-primary > a {
    color: white;
}

.btn-primary:hover > a {
    color: var(--color-primary);
}

.btn-primary {
    color: #fff;
    background-color: var(--color-primary);
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(25px, max-content));
    grid-gap: var(--indent-2);
}

.my-grid-md {
    grid-template-columns: repeat(auto-fit, minmax(70px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(70px, max-content));
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}