<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BioMad Mobile Application Privacy Policy</title>
</head>
<body>
<div>
    <div>
        <h1>BioMad Mobile Application Privacy Policy</h1>
    </div>

    Privacy policy of the mobile application "BioMad" of the company "MURNAEV ARTEM DMITRIEVICH" (SOLE PROPRIETOR). This Privacy Policy of the BioMad application (hereinafter referred to as the Policy) applies to all information that MURNAEV ARTEM DMITRIEVICH (SP) can receive about the user while using this application.
    <br>
    Using the application means that the user agrees with this Policy and the conditions for processing his personal information specified therein; in case of disagreement with these conditions, the user should refrain from using the application.
    <br>
    <b>1. Personal information of users, which is received and processed by the BioMad application</b><br>
    1.1. During its operation, the BioMad application collects statistical information necessary for the application to work. Within the framework of this Policy, "statistical information" means: <br>
    1.1.1. The unique number and type of the device, the type of operating system, the type of content the user is accessing, and (with the user's consent) the geographic coordinates of the device. <br>
    1.2. In the course of its operation, the BioMad application does not collect personal data or other confidential information of users. Within the framework of this Policy, "personal user information" means: <br>
    1.2.1. Personal information that the user provides about himself independently when registering (creating an account) or in the process of using the application, including the user's personal data. The information is provided by the user at his discretion. <br>
    1.2.2. Data that is automatically transmitted by ARTEM DMITRIEVICH MURNAEV (SP) in the course of their use using the application installed on the device, including information from cookies, information about the user's device. <br>
    <br>
    <b> 2. Purpose of collecting and processing statistical information of users </b> <br>
    2.1. The application collects and stores only that statistical information that is necessary to improve the application's performance, ease of use, and develop new services and services. <br>
    <br>
    <b> 3. Conditions for processing the statistical information of the user and its transfer to third parties </b> <br>
    3.1. This Policy applies only to the application "BioMad" "MURNAEV ARTEM DMITRIEVICH" (SP) & nbsp; "MURNAEV ARTEM DMITRIEVICH" (SP) does not control and is not responsible for the information of third parties to which the user can click on the links available in the application. On such sites, the user may collect or request other personal information, as well as other actions may be performed. <br>
    3.2. When processing personal data of users of the application "BioMad" "MURNAEV ARTEM DMITRIEVICH" (SP) is guided by the Federal Law of the Russian Federation "On Personal Data". <br>
    <br>
    <b> 4. User's change of personal information </b> <br>
    4.1. The user can also change or delete the statistical information provided by him within a certain account by requesting a change or deletion through the specialists of "MURNAEV ARTEM DMITRIEVICH" (SP) by e-mail <a href="mailto:support@biomad.ru"> support@biomad.ru </a>.<br>
    <br>
    <b> 5. Changes to the Privacy Policy. </b> <br>
    5.1. ARTEM DMITRIEVICH MURNAEV (SP) has the right to make changes to this Privacy Policy. When making changes in the current edition, the date of the last update is indicated. The new version of the Policy comes into force from the moment of its signing, unless otherwise provided by the new version of the Policy. <br>
    5.2. This Policy and the relationshSP between the user and "MURNAEV ARTEM DMITRIEVICH" (SP) arising in connection with the application of the Privacy Policy is subject to the law of the Russian Federation. <br>
    <br>
    <b> 6. Feedback. </b> <br>
    All suggestions or questions regarding this Policy should be reported to the BioMad User Support Service <a href="mailto:support@biomad.ru"> support@biomad.ru </a>.
</div>


</body>
</html>