<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Политика конфиденциальности мобильного приложения «BioMad»</title>
</head>
<body>
<div>
    <div>
        <h1>Политика конфиденциальности мобильного приложения «BioMad»</h1>
    </div>


    Политика конфиденциальности мобильного приложения «BioMad» компании «МУРНАЕВ АРТЕМ ДМИТРИЕВИЧ» (ИП). Настоящая Политика конфиденциальности приложения «BioMad» (далее — Политика) действует в отношении всей информации, которую «МУРНАЕВ АРТЕМ ДМИТРИЕВИЧ» (ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ) может получить о пользователе во время использования им данного приложения. <br>
    <br>
    Использование приложения означает согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями пользователь должен воздержаться от использования приложения. <br>
    <br>
    <b>1. Персональная информация пользователей, которую получает и обрабатывает приложение «BioMad» </b><br>
    1.1. В процессе работы приложение «BioMad» собирает статистическую информацию, необходимую для работы приложения. В рамках настоящей Политики под «статистической информацией» понимаются: <br>
    1.1.1. Уникальный номер и тип устройства, тип операционной системы, тип контента, к которому обращается пользователь, а также (при наличии согласия пользователя) географические координаты устройства. <br>
    1.2. В процессе работы приложение «BioMad» не собирает персональные данные или другую конфиденциальную информацию пользователей. В рамках настоящей Политики под «персональной информацией пользователя» понимаются: <br>
    1.2.1. Персональная информация, которую пользователь предоставляет о себе самостоятельно при регистрации (создании учётной записи) или в процессе использования приложения, включая персональные данные пользователя. Информация предоставляется пользователем на его усмотрение. <br>
    1.2.2. Данные, которые автоматически передаются «МУРНАЕВ АРТЕМ ДМИТРИЕВИЧ» (ИП) в процессе их использования с помощью установленного на устройстве приложения, в том числе информация из cookie, информация об устройстве пользователя. <br>
    <br>
    <b>2. Цели сбора и обработки статистической информации пользователей </b><br>
    2.1. Приложение собирает и хранит только ту статистическую информацию, которая необходима для улучшения работы приложения, удобства его использования, разработки новых сервисов и услуг. <br>
    <br>
    <b>3. Условия обработки статистической информации пользователя и её передачи третьим лицам</b><br>
    3.1. Настоящая Политика применима только к приложению «BioMad» «МУРНАЕВ АРТЕМ ДМИТРИЕВИЧ» (ИП)&nbsp;«МУРНАЕВ АРТЕМ ДМИТРИЕВИЧ» (ИП) не контролирует и не несет ответственность за информацию третьих лиц, на которые пользователь может перейти по ссылкам, доступным в приложении. На таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.<br>
    3.2. При обработке персональных данных пользователей приложения «BioMad» «МУРНАЕВ АРТЕМ ДМИТРИЕВИЧ» (ИП) руководствуется Федеральным законом РФ «О персональных данных». <br>
    <br>
    <b>4. Изменение пользователем персональной информации </b><br>
    4.1. Пользователь также может изменить или удалить предоставленную им в рамках определенной учетной записи статистическую информацию, запросив изменение или удаление через специалистов «МУРНАЕВ АРТЕМ ДМИТРИЕВИЧ» (ИП) по электронной почте <a href="mailto:support@biomad.ru">support@biomad.ru</a>.<br>
    <br>
    <b>5. Изменение Политики конфиденциальности. </b><br>
    5.1. «МУРНАЕВ АРТЕМ ДМИТРИЕВИЧ» (ИП) имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакцияs Политики вступает в силу с момента ее подписания, если иное не предусмотрено новой редакцией Политики. <br>
    5.2. К настоящей Политике и отношениям между пользователем и «МУРНАЕВ АРТЕМ ДМИТРИЕВИЧ» (ИП), возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации. <br>
    <br>
    <b>6. Обратная связь. </b><br>
    Все предложения или вопросы по поводу настоящей Политики следует сообщать в Службу поддержки пользователей «BioMad» <a href="mailto:support@biomad.ru">support@biomad.ru</a>.
</div>


</body>
</html>