<div class="my-grid my-grid-md" style="grid-template-columns: repeat(auto-fit, minmax(150px, max-content))">
    <a class="btn btn-lg btn-outline-primary flex-center" asp-area="Admin" asp-controller="Gender" asp-action="Index">Пол</a>
    <a class="btn btn-lg btn-outline-primary flex-center" asp-area="Admin" asp-controller="BiomarkerType" asp-action="Index">Тип биомаркера</a>
    <a class="btn btn-lg btn-outline-primary flex-center" asp-area="Admin" asp-controller="Category" asp-action="Index">Категория</a>
    <a class="btn btn-lg btn-outline-primary flex-center" asp-area="Admin" asp-controller="Unit" asp-action="Index">Единица измерения</a>
    <a class="btn btn-lg btn-outline-primary flex-center" asp-area="Admin" asp-controller="UnitGroup" asp-action="Index">Группа ЕИ</a>
    <a class="btn btn-lg btn-outline-primary flex-center" asp-area="Admin" asp-controller="Biomarker" asp-action="Index">Биомаркер</a>
</div>